<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript"  src="${ctxPath}/scripts/jquery/jquery-1.7.1.js"></script>
    <link href="${ctxPath}/style/authority/basic_layout.css" rel="stylesheet" type="text/css">
    <link href="${ctxPath}/style/authority/common_style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript"  src="${ctxPath}/scripts/commonAll.js"></script>
    <script type="text/javascript"  src="${ctxPath}/scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript"  src="${ctxPath}/scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="style/authority/jquery.fancybox-1.3.4.css" media="screen"></link>
    <script type="text/javascript"  src="${ctxPath}/scripts/artDialog/artDialog.js?skin=default"></script>
    <script type="text/javascript"  src="${ctxPath}/scripts/alarmLog.js"></script>
    <title>监控系统</title>
    <script type="text/javascript">
        var currentPage;
        var totalPage;
    </script>
    <style>
        .alt td{ background:black !important;}
    </style>
</head>
<body>
<form id="submitForm" name="submitForm" action="/queryAlarmLog" method="get">
    <div id="container">
        <div class="ui_content">
            <div class="ui_text_indent">
                <div id="box_border">
                    <div id="box_top">搜索</div>
                    <div id="box_center">
                        防区&nbsp;： <select name="defenseArea" id="defenseArea" class="ui_select01">
                                    <option value="">--请选择--</option>
                                    <option value="1">防区1</option>
                                    <option value="2">防区2</option>
                                    <option value="3">防区3</option>
                                    <option value="4">防区4</option>
                                </select>
                        报警状态&nbsp;：<input type="text" id="alarmState" name="alarmState" class="ui_input_txt02" />
                        时间段：<input type="datetime-local" id="startTime" name="startTime" class="ui_input_txt02_date" />
                        到：<input type="datetime-local" id="endTime" name="endTime" class="ui_input_txt02_date" />
                    </div>
                    <div id="box_bottom">
                        <input type="button" value="查询" class="ui_input_btn01" onclick="search();" />
                    </div>
                </div>
            </div>
        </div>
        <div class="ui_content">
            <div class="ui_tb">
                <table class="table" id="alarmLogListTable" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                    <tr>

                        </th>
                        <th>防区</th>
                        <th>类型</th>
                        <th>报警状态</th>
                        <th>报警时间</th>
                        <th>结束时间</th>
                    </tr>
                    @if(!isEmpty(alarmPage)){
                    @for(alarm in alarmPage){
                    <tr>
                        </td>
                        <td>${alarm.defenseArea}</td>
                        <th>${alarm.alarmType}</th>
                        <td>${alarm.state}</td>
                        <td>${alarm.alarmTime}</td>
                        <td>${alarm.endTime}</td>
                    </tr>
                    @}
                    @}
                </table>
            </div>
            <div class="ui_tb_h30">
                <div class="ui_flt" style="height: 30px; line-height: 30px;">
                    总共
                    <span id="totalCount" class="ui_txt_bold04"></span>
                    条记录，当前第
                    <span id="page" class="ui_txt_bold04">
                    </span>
                    页
                </div>
                <div class="ui_frt">
                    <!--    如果是第一页，则只显示下一页、尾页 -->
                    <input type="button" value="上一页" class="ui_input_btn01" onclick="jumpNextPage()"  />
                    <input type="button" value="下一页" class="ui_input_btn01" onclick="jumpNextPage()" />

                    转到第<input type="text" id="jumpNumTxt" class="ui_input_txt01" />页
                    <input type="button" class="ui_input_btn01" value="跳转" onclick="jumpInputPage(9);" />
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>
