<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>电力测温智能化管理</title>
    <link href="${ctxPath}/style/authority/main_css.css" rel="stylesheet" type="text/css" />
    <link href="${ctxPath}/style/authority/zTreeStyle.css" rel="stylesheet" type="text/css">
    <script type="text/javascript"  src="${ctxPath}/scripts/jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript"  src="${ctxPath}/scripts/zTree/jquery.ztree.core-3.2.js"></script>
    <script type="text/javascript"  src="${ctxPath}/scripts/commonAll.js"></script>
    <script type="text/javascript"  src="${ctxPath}/scripts/artDialog/artDialog.js?skin=default"></script>
    <script type="text/javascript">
        var hasResult =true;
        /**退出系统**/
        function logout(){
            if(confirm("您确定要退出本系统吗？")){
                window.location.href = "${ctxPath}/logout";
            }
        }


    </script>
    <script type="text/javascript">
        /* zTree插件加载目录的处理  */
        var zTree;

        var setting = {
            view: {
                dblClickExpand: false,
                showLine: false,
                expandSpeed: ($.browser.msie && parseInt($.browser.version)<=6)?"":"fast"
            },
            data: {
                key: {
                    name: "resourceName"
                },
                simpleData: {
                    enable:true,
                    idKey: "resourceID",
                    pIdKey: "parentID",
                    rootPId: ""
                }
            },
            callback: {
                // 				beforeExpand: beforeExpand,
                // 				onExpand: onExpand,
                onClick: zTreeOnClick
            }
        };

        var curExpandNode = null;
        function beforeExpand(treeId, treeNode) {
            var pNode = curExpandNode ? curExpandNode.getParentNode():null;
            var treeNodeP = treeNode.parentTId ? treeNode.getParentNode():null;
            for(var i=0, l=!treeNodeP ? 0:treeNodeP.children.length; i<l; i++ ) {
                if (treeNode !== treeNodeP.children[i]) {
                    zTree.expandNode(treeNodeP.children[i], false);
                }
            }
            while (pNode) {
                if (pNode === treeNode) {
                    break;
                }
                pNode = pNode.getParentNode();
            }
            if (!pNode) {
                singlePath(treeNode);
            }

        }
        function singlePath(newNode) {
            if (newNode === curExpandNode) return;
            if (curExpandNode && curExpandNode.open==true) {
                if (newNode.parentTId === curExpandNode.parentTId) {
                    zTree.expandNode(curExpandNode, false);
                } else {
                    var newParents = [];
                    while (newNode) {
                        newNode = newNode.getParentNode();
                        if (newNode === curExpandNode) {
                            newParents = null;
                            break;
                        } else if (newNode) {
                            newParents.push(newNode);
                        }
                    }
                    if (newParents!=null) {
                        var oldNode = curExpandNode;
                        var oldParents = [];
                        while (oldNode) {
                            oldNode = oldNode.getParentNode();
                            if (oldNode) {
                                oldParents.push(oldNode);
                            }
                        }
                        if (newParents.length>0) {
                            for (var i = Math.min(newParents.length, oldParents.length)-1; i>=0; i--) {
                                if (newParents[i] !== oldParents[i]) {
                                    zTree.expandNode(oldParents[i], false);
                                    break;
                                }
                            }
                        }else {
                            zTree.expandNode(oldParents[oldParents.length-1], false);
                        }
                    }
                }
            }
            curExpandNode = newNode;
        }

        function onExpand(event, treeId, treeNode) {
            curExpandNode = treeNode;
        }

        /** 用于捕获节点被点击的事件回调函数  **/
        function zTreeOnClick(event, treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("dleft_tab1");
            zTree.expandNode(treeNode, null, null, null, true);
            // 		zTree.expandNode(treeNode);
            // 规定：如果是父类节点，不允许单击操作
            if(treeNode.isParent){
                // 			alert("父类节点无法点击哦...");
                return false;
            }
            // 如果节点路径为空或者为"#"，不允许单击操作
            if(treeNode.accessPath=="" || treeNode.accessPath=="#"){
                //alert("节点路径为空或者为'#'哦...");
                return false;
            }
            // 跳到该节点下对应的路径, 把当前资源ID(resourceID)传到后台，写进Session
            rightMain(treeNode.accessPath);

            if( treeNode.isParent ){
                $('#here_area').html('当前位置：'+treeNode.getParentNode().resourceName+'&nbsp;>&nbsp;<span style="color:#1A5CC6">'+treeNode.resourceName+'</span>');
            }else{
                $('#here_area').html('当前位置：系统&nbsp;>&nbsp;<span style="color:#1A5CC6">'+treeNode.resourceName+'</span>');
            }
        };

        /* 上方菜单 */
        function switchTab(tabpage,tabid){
            var oItem = document.getElementById(tabpage).getElementsByTagName("li");
            var selectedItem = document.getElementById(tabid);
            var left_menu_cnt = $('#left_menu_cnt');
            for(var i=0; i<oItem.length; i++){
                var x = oItem[i];
                x.className = "";
            }
            selectedItem.className = "selected";
            if('left_tab1' == tabid){
                $(document).ajaxStart(onStart).ajaxSuccess(onStop);
                // 异步加载"系统管理"下的菜单
                loadMenu('SYSTEM','dleft_tab1')
            }else {
                hideLeft();
                if ('left_tab0' == tabid) {
                    left_menu_cnt.hide(10, 'linear');
                    rightMain("${ctxPath}/main");
                } else if ('left_tab3' == tabid) {
                    left_menu_cnt.hide(10, 'linear');
                    rightMain("${ctxPath}/nvr");
                } else if ('left_tab2' == tabid) {
                    $(document).ajaxStart(onStart).ajaxSuccess(onStop);
                    // 异步加载"业务模块"下的菜单
                    loadMenu('SYSTEMMOULE', 'dleft_tab1');
                } else if ('left_tab4' == tabid) {
                    left_menu_cnt.hide(10, 'linear');
                    rightMain("${ctxPath}/alarmLogList");
                } else if ('left_tab5' == tabid) {
                    left_menu_cnt.hide(10, 'linear');
                    rightMain("${ctxPath}/operationLogList");
                } else if ('left_tab7' == tabid) {
                    if(hasResult){
                        hasResult = false;
                        $.ajax({
                            type: "POST",
                            url: "${ctxPath}/startOrCancelAlarm",
                            success: function (result) {
                                hasResult = true;
                                var icon = 'error';
                                if (result.code == "0") {
                                     icon='succeed';
                                }
                                art.dialog({
                                    icon: icon,
                                    title: '友情提示',
                                    drag: false,
                                    resize: false,
                                    content: result.msg,
                                    ok: true,
                                });
                            }
                        });
                    }
                }
            }
        }


        $(document).ready(function(){
            $(document).ajaxStart(onStart).ajaxSuccess(onStop);
            /** 默认异步加载"业务模块"目录  **/
            loadMenu('YEWUMOKUAI', "dleft_tab1");
            // 默认展开所有节点
            if( zTree ){
                // 默认展开所有节点
                zTree.expandAll(true);
            }
        });

        function loadTree(data,treeObj) {
            if(data != null){
                // 将返回的数据赋给zTree
                $.fn.zTree.init($("#"+treeObj), setting, data);
                zTree = $.fn.zTree.getZTreeObj(treeObj);
                if( zTree ){
                    // 默认展开所有节点
                    zTree.expandAll(true);
                }
            }
        }

        function loadMenu(resourceType, treeObj){

            var data =new Array();
            if(resourceType=='SYSTEM'){


                    data.push({"accessPath":"","checked":false,"delFlag":0,"parentID":1,"resourceCode":"","resourceDesc":"","resourceGrade":2,"resourceID":2,"resourceName":"权限管理","resourceOrder":0,"resourceType":""})
                    data.push({"accessPath":"${ctxPath}/privilegeList","checked":false,"delFlag":0,"parentID":2,"resourceCode":"","resourceDesc":"","resourceGrade":2,"resourceID":4,"resourceName":"权限列表","resourceOrder":0,"resourceType":""})


                    data.push({"accessPath":"","checked":false,"delFlag":0,"parentID":1,"resourceCode":"","resourceDesc":"","resourceGrade":2,"resourceID":3,"resourceName":"用户管理","resourceOrder":0,"resourceType":""})
                    data.push({"accessPath":"${ctxPath}/userList","checked":false,"delFlag":0,"parentID":3,"resourceCode":"","resourceDesc":"","resourceGrade":2,"resourceID":6,"resourceName":"用户列表","resourceOrder":0,"resourceType":""})
                    data.push({"accessPath":"${ctxPath}/userAdd","checked":false,"delFlag":0,"parentID":3,"resourceCode":"","resourceDesc":"","resourceGrade":2,"resourceID":7,"resourceName":"用户添加","resourceOrder":0,"resourceType":""})


                    data.push({"accessPath":"","checked":false,"delFlag":0,"parentID":1,"resourceCode":"","resourceDesc":"","resourceGrade":2,"resourceID":4,"resourceName":"设备管理","resourceOrder":0,"resourceType":""})
                    data.push({"accessPath":"${ctxPath}/deviceList","checked":false,"delFlag":0,"parentID":4,"resourceCode":"","resourceDesc":"","resourceGrade":2,"resourceID":8,"resourceName":"设备查询","resourceOrder":0,"resourceType":""})
                    data.push({"accessPath":"${ctxPath}/deviceEdit","checked":false,"delFlag":0,"parentID":4,"resourceCode":"","resourceDesc":"","resourceGrade":2,"resourceID":9,"resourceName":"设备编辑","resourceOrder":0,"resourceType":""})

                    loadTree(data,treeObj);



            }
            // 如果返回数据不为空，加载"业务模块"目录

        }

        //ajax start function
        function onStart(){
            $("#ajaxDialog").show();
        }

        //ajax stop function
        function onStop(){
            // 		$("#ajaxDialog").dialog("close");
            $("#ajaxDialog").hide();
        }
    </script>
</head>
<body >
<div id="top">

    <div id="top_links">
        <div id="top_op">
            <ul>
                <li >
                    <img alt="当前用户"  src="${ctxPath}/images/common/user.jpg" >：

                </li>
            </ul>
        </div>
        <div id="top_close">
            <a href="javascript:void(0);" onclick="logout();" target="_parent">
                <img alt="退出系统" title="退出系统"  src="${ctxPath}/images/common/close.jpg" style="position: relative; top: 0px; left: 25px;">
            </a>
        </div>
    </div>
</div>
<!-- side menu start -->
<div id="side" style="width:60px">
    <div id="left_menu">
        <ul id="TabPage2" style="height:200px; margin-top:50px;">
            <li id="left_tab0" class="selected" onClick="javascript:switchTab('TabPage2','left_tab0');" title="主界面">
                <img alt="主界面" title="主界面"  src="${ctxPath}/images/common/dashboard.jpg" width="33" height="31">
            </li>

            <li id="left_tab1" onClick="javascript:switchTab('TabPage2','left_tab1');" title="系统设置">
                <img alt="系统模块" title="系统设置"  src="${ctxPath}/images/common/system.jpg" width="33" height="31">
            </li>

            <li id="left_tab2"  onClick="javascript:switchTab('TabPage2','left_tab2');" title="防区设置">
                <img alt="防区设置" title="防区设置"  src="${ctxPath}/images/common/defenceArea.jpg" width="33" height="31">
            </li>


            <li id="left_tab3" onClick="javascript:switchTab('TabPage2','left_tab3');" title="视频设置">
                <img alt="视频设置" title="视频设置"  src="${ctxPath}/images/common/cam.jpg" width="33" height="31">
            </li>
            <li id="left_tab4" onClick="javascript:switchTab('TabPage2','left_tab4');" title="报警日志">
                <img alt="报警日志" title="报警日志"  src="${ctxPath}/images/common/alarm.jpg" width="33" height="31">
            </li>
            <li id="left_tab5" onClick="javascript:switchTab('TabPage2','left_tab5');" title="操作日志">
                <img alt="操作日志" title="操作日志"  src="${ctxPath}/images/common/log.jpg" width="33" height="31">
            </li>
            <li id="left_tab6" onClick="javascript:switchTab('TabPage2','left_tab6');" title="关于/帮助">
                <img alt="关于/帮助" title="关于/帮助"  src="${ctxPath}/images/common/help.jpg" width="33" height="31">
            </li>
            <li id="left_tab7" onClick="javascript:switchTab('TabPage2','left_tab7');" title="一键布撤防">
                <img alt="一键布撤防" title="一键布撤防"  src="${ctxPath}/images/common/oneTouch.jpg" width="33" height="31">
            </li>
        </ul>


        <div id="nav_show" style="position:absolute; bottom:0px; padding:10px;">
            <a href="javascript:;" id="show_hide_btn">
                <img alt="显示/隐藏" title="显示/隐藏"  src="${ctxPath}/images/common/nav_hide.png" width="35" height="35">
            </a>
        </div>
    </div>
    <div id="left_menu_cnt" hidden>
        <div id="nav_module">
            <img  src="${ctxPath}/images/common/module_1.png" width="126" height="35"/>
        </div>
        <div id="nav_resource">
            <ul id="dleft_tab1" class="ztree"></ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#TabPage2 li').click(function(){
            var index = $(this).index();
            if(index==1) {
                $('#nav_module').find('img').attr('src', '${ctxPath}/images/common/module_2.png');
                switchSysBar(true);
            }
            // 显示侧边栏

        });

        // 显示隐藏侧边栏
        $("#show_hide_btn").click(function() {
            switchSysBar();
        });
    });

    /**隐藏或者显示侧边栏**/
    function switchSysBar(flag){
        var side = $('#side');
        var left_menu_cnt = $('#left_menu_cnt');
        if( flag==true ){	// flag==true
            left_menu_cnt.show(500, 'linear');
            side.css({width:'280px'});
            $('#top_nav').css({width:'77%', left:'304px'});
            $('#main').css({left:'280px'});
        }else{
            if ( left_menu_cnt.is(":visible") ) {
              hideLeft();
            } else {
                left_menu_cnt.show(500, 'linear');
                side.css({width:'280px'});
                $('#top_nav').css({width:'77%', left:'304px', 'padding-left':'0px'});
                $('#main').css({left:'280px'});
                $("#show_hide_btn").find('img').attr('src', '${ctxPath}/images/common/nav_hide.png');
            }
        }
    }
    
    function hideLeft() {
        var side = $('#side');
        var left_menu_cnt = $('#left_menu_cnt');
        left_menu_cnt.hide(10, 'linear');
        side.css({width:'60px'});
        $('#top_nav').css({width:'100%', left:'60px', 'padding-left':'28px'});
        $('#main').css({left:'60px'});
        $("#show_hide_btn").find('img').attr('src', '${ctxPath}/images/common/nav_show.png');
    }
</script>
<!-- side menu start -->
<div id="top_nav0" style="width:100%;left:60px;padding-left:28px">
    <span id="here_area">当前位置：系统&nbsp;>&nbsp;系统介绍</span>
</div>
<div id="main" style="left: 60px">
    <iframe name="right" id="rightMain"  src="${ctxPath}/main.html" frameborder="no" scrolling="auto" width="100%" height="100%" allowtransparency="true"/>
</div>

</body>
</html>
   
 