<!DOCTYPE html>
<html>
<head>
    <title>监控系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript"  src="${ctxPath}/scripts/jquery/jquery-1.7.1.js"></script>
    <link href="${ctxPath}/style/authority/basic_layout.css" rel="stylesheet" type="text/css"/>
    <link href="${ctxPath}/style/authority/common_style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript"  src="${ctxPath}/scripts/jquery/jquery-1.4.4.min.js"></script>
    <script type="text/javascript"  src="${ctxPath}/scripts/commonAll.js"></script>
    <script type="text/javascript"  src="${ctxPath}/scripts/artDialog/artDialog.js?skin=default"></script>
    <script type="text/javascript"  src="${ctxPath}/scripts/user.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            /*
             * 提交
             */
            $("#submitbutton").click(function() {
                if(validateForm()){
                    checkSubmit();
                }
            });

            /*
             * 取消
             */
            $("#cancelbutton").click(function() {
                $('#username').val('');
                $('#password').val('');
                $("#realName").val('');
                $("#mobile").val('');
                $("#email").val('');
            });

            var result = 'null';
            if(result =='success'){
                /**  关闭弹出iframe  **/
                window.parent.$.fancybox.close();
            }
        });

        function checkSubmit(){
            var uid = $('#userId').val();
            var username = $('#username').val();
            var password = $('#password').val();
            var realName = $("#realName").val();
            var mobile = $("#mobile").val();
            var email = $("#email").val();
            if(username!="" && password!=""){
                $.ajax({
                    type:"POST",
                    url:"${ctxPath}/addUser",
                    data:{"uid":uid,"username":username,"password":password,"realName":realName, "mobile":mobile,"email":email},
                    dataType : "text",
                    success:function(data){
// 					alert(data);
                        // 如果返回数据不为空，更改“房源信息”
                        if(data=="-1"){
                            art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'用户名已存在', ok:true,});
                            $("#username").css("background", "#EEE");
                            $("#username").focus();
                            return false;
                        }else if(data=="0"){
                            art.dialog({icon:'succeed', title:'友情提示', drag:false, resize:false, content:'用户添加成功', ok:true,});
                        }
                    }
                });
            }
            return true;
        }

    </script>
</head>
<body>
<form id="submitForm" name="submitForm" method="post">
    <div id="container">
        <div id="nav_links">
            <div id="page_close">
                <a href="javascript:parent.$.fancybox.close();">
                    <img  src="${ctxPath}/images/common/page_close.png" width="20" height="20" style="vertical-align: text-top;"/>
                </a>
            </div>
        </div>
        <td class="ui_content">
            <form id="editUser" action="">
                <table  cellspacing="0" cellpadding="0" width="100%" align="left" border="0">
                    <p hidden><input value="${userInfo.uid}" id="userId" name="userId"></p>
                <tr>
                    <td class="ui_text_lt" width="80">用户名*</td>
                    <td class="ui_text_lt">
                        <input type="text" id="username" name="username" value="${userInfo.username}"  class="ui_input_txt02"
                           @if(userInfo.uid>0){
                               disabled="true"
                           @}
                        />
                    </td>
                </tr>
                <tr>
                    <td class="ui_text_lt" width="80">密码*</td>
                    <td class="ui_text_lt">
                        <input type="password" id="password" name="password" value="${userInfo.password}"  class="ui_input_txt02"/>
                    </td>
                </tr>
                <tr>
                    <td class="ui_text_lt" width="80">真实姓名</td>
                    <td class="ui_text_lt">
                        <input type="text" id="realName" name="realName"  class="ui_input_txt02" value="${userInfo.realName}"/>
                    </td>
                </tr>

                <tr>
                    <td class="ui_text_lt" width="80">电话号码</td>
                    <td class="ui_text_lt">
                        <input type="text" id="mobile" name="mobile"  class="ui_input_txt02"  value="${userInfo.mobile}"/>
                    </td>
                </tr>

                <tr>
                    <td class="ui_text_lt" width="80">邮件地址</td>
                    <td class="ui_text_lt">
                        <input type="text" id="email" name="email"  class="ui_input_txt02" value="${userInfo.email}" />
                    </td>
                </tr>
                <!--<tr>-->
                    <!--<td class="ui_text_lt" width="80">用户权限</td>-->
                    <!--<td class="ui_text_lt">-->
                        <!--编辑用户<input type="checkbox" value=""/>-->
                        <!--&nbsp;添加用户<input type="checkbox" value=""/>-->
                    <!--</td>-->
                <!--</tr>-->


                <tr>
                    <td>&nbsp;</td>
                    <td class="ui_text_lt">
                        &nbsp;<input id="submitbutton" type="button" value="提交" class="ui_input_btn01"/>
                        &nbsp;<input id="cancelbutton" type="button" value="取消" class="ui_input_btn01"/>
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</form>

</body>
</html>