<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript"  src="${ctxPath}/scripts/jquery/jquery-1.7.1.js"></script>
    <link href="${ctxPath}/style/authority/basic_layout.css" rel="stylesheet" type="text/css">
    <link href="${ctxPath}/style/authority/common_style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript"  src="${ctxPath}/scripts/commonAll.js"></script>
    <script type="text/javascript"  src="${ctxPath}/scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript"  src="${ctxPath}/scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="style/authority/jquery.fancybox-1.3.4.css" media="screen"></link>
    <script type="text/javascript"  src="${ctxPath}/scripts/artDialog/artDialog.js?skin=default"></script>
    <title>监控系统</title>
    <script type="text/javascript">
        $(document).ready(function(){

            /**编辑   **/
            $("a.edit").fancybox({
                'width' : 733,
                'height' : 530,
                'type' : 'iframe',
                'hideOnOverlayClick' : false,
                'showCloseButton' : false,
                'onClosed' : function() {
                    window.close();
                }
            });
        });

        /** 模糊查询来电用户  **/
        function search(){
            var username = $("#username").val();
            var realName = $("#realName").val();
            var mobile = $("#mobile").val();
            var targetUrl = "${ctxPath}/queryUserPage?username="+username+"&realName="+realName+"&mobile="+mobile;
            window.location.href=targetUrl;
        }

        /** 模糊查询来电用户  **/
        function deleteUser(userId){
            $.ajax({
                type:"POST",
                url:"${ctxPath}/deleteUser",
                data:{"userId":userId},
                dataType : "text",
                success:function(data){
                    if(data=="0"){
                        art.dialog({icon:'succeed', title:'友情提示', drag:false, resize:false, content:'删除成功', ok:true,});
                    }else{
                        art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'删除失败', ok:true,});
                    }
                }
            });
        }

    </script>
    <style>
        .alt td{ background:black !important;}
    </style>
</head>
<body>
<form id="submitForm" name="submitForm" action="/queryUserPage" method="get">
    <div id="container">
        <div class="ui_content">
            <div class="ui_text_indent">
                <div id="box_border">
                    <div id="box_top">搜索</div>
                    <div id="box_center">
                        用户名&nbsp;&nbsp;<input type="text" id="username" name="username" class="ui_input_txt02" />
                        真实姓名&nbsp;&nbsp;<input type="text" id="realName" name="realName" class="ui_input_txt02" />
                        电话号码&nbsp;&nbsp;<input type="text" id="mobile" name="mobile" class="ui_input_txt02" />

                    </div>
                    <div id="box_bottom">
                        <input type="button" value="查询" class="ui_input_btn01" onclick="search();" />
                    </div>
                </div>
            </div>
        </div>
        <div class="ui_content">
            <div class="ui_tb">
                <table class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                    <tr>

                        </th>
                        <th>用户角色</th>
                        <th>用户名</th>
                        <th>真实姓名</th>
                        <th>电话号码</th>
                        <th>邮件</th>
                        <th>操作</th>
                    </tr>
                    @if(!isEmpty(userPage)){
                    @for(user in userPage){
                    <tr>
                        </td>
                        <td>${user.roleInfo == null ? "" :user.roleInfo.description}</td>
                        <td>${user.username}</td>
                        <td>${user.realName}</td>
                        <td>${user.mobile}</td>
                        <td>${user.email}</td>
                        <td>
                            <a href="${ctxPath}/userEdit?userId=${user.uid}" class="edit">编辑</a>
                            <a href="javascript:deleteUser(${user.uid});">删除</a>
                        </td>
                    </tr>
                    @}
                    @}
                </table>
            </div>
        </div>
    </div>
</form>

</body>
</html>
